@import './colors';

.el-bg-ultra-dark {
	background-color: $ultraDark;
}

.el-text-white {
	color: $mainLightColor !important;
}

.el-link {
	color: $linkColor !important;
}

.el-btn {
	background-color: $linkColor;
}

.wrapper {
	background-color: $mainLightColor;
}

.gap-10 {
	gap: 10px;
}

.gap-3 {
	gap: 12px;
}