@import './colors';

.el-bg-ultra-dark {
	background-color: $ultraDark;
}

.el-text-white {
	color: $mainLightColor !important;
}

.el-link {
	color: $linkColor !important;
}

.el-btn {
	background-color: $linkColor;
}

.wrapper {
	background-color: $mainLightColor;
}

.gap-10 {
	gap: 10px;
}

.gap-3 {
	gap: 12px;
}

.dictionary-page {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 40px;

	&__tr-bg {
		background-color: #f5f5f5;

		&:hover {
			background-color: #fff !important;
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 20px;
	}

	&__btn-group {
		gap: 10px;
	}
}